<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>


<body>
<header>
    <div th:replace="~{fragments/commons::navbar}">
        Navbar
    </div>
    <div class="container">
        <h4 class="text-right text-warning">You have <th:block th:text ="${money}"></th:block> $</h4>
        <h2 class="text-center text-white">Dog info page</h2>
        <div class="main-div mb-2 row" th:object="${dog}">
            <div class="col-md-5">
                <img th:src="*{'/images/' + breed.imgURL}" alt="" class="img-fluid">
                <h3 th:text="*{name}">Name</h3>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-6">
                        <form
                                th:method="POST"
                                th:action="@{/dog/{dogId}/food(dogId=*{id})}">
                            <button type="submit" class="btn btn-info btn-lg" value="Food"
                                    th:disabled="${dog.health == 100 || money < 20}">
                                Give food
                            </button>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <form
                                th:method="POST"
                                th:action="@{/dog/{dogId}/treat(dogId=*{id})}">
                            <button type="submit" class="btn btn-info btn-lg" value="Treat"
                                    th:disabled="${dog.health == 100 || money < 30}">
                                Give treat
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row mt-3 pl-3">
                    <h5>Health</h5>
                </div>
                <div class="row mt-1 mb-4 pl-3">
                    <div class="col-md-8 progress align-self-center pl-0 pr-0">
                        <div class="progress-bar bg-success" th:style="*{'width:' + health +'%'}"></div>
                    </div>
                    <div class="col-md-4 text-center" th:text="*{health + '/100'}"></div>
                </div>
            </div>
            <div class="col-md-7 align-self-center pl-5">
                <h5 class="text-center mb-5">Lesson fees 20 $</h5>
                <div class="row mb-3">
                    <div class="col-md-4 pl-0">
                        <form
                                th:method="POST"
                                th:action="@{/dog/{dogId}/grooming(dogId=*{id})}">
                            <button type="submit" class="btn btn-info btn-sm" value="Make_grooming"
                                    th:disabled="${dog.grooming == dog.getBreed().getGrooming() || money < 20 || dog.health==0}">
                                Go to grooming
                            </button>
                        </form>
                    </div>
                        <div class="col-md-4 pl-0">
                        <form
                                th:method="POST"
                                th:action="@{/dog/{dogId}/agility(dogId=*{id})}">
                            <button type="submit" class="btn btn-info btn-sm" value="Agility_lesson"
                                    th:disabled="${dog.agility == dog.breed.agility || money < 20 || dog.health==0}">
                                Get agility lesson
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4 pl-0">
                        <form
                                th:method="POST"
                                th:action="@{/dog/{dogId}/hunting(dogId=*{id})}">
                            <button type="submit" class="btn btn-info btn-sm" value="Hunting_lesson"
                                    th:disabled="${dog.hunting == dog.breed.hunting || money < 20 || dog.health==0}">
                                Get hunting lesson
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row mb-1">Grooming stats</div>
                <div class="row mb-2">
                    <div class="col-md-10 progress align-self-center pl-0 pr-0">
                        <div class="progress-bar bg-info" th:style="*{'width:' + grooming +'%'}"></div>
                    </div>
                    <div class="col-md-2 text-center" th:text="*{grooming + '/' + breed.grooming}"></div>
                </div>
                <div class="row mb-1">Agility stats</div>
                <div class="row mb-2">
                    <div class="col-md-10 progress align-self-center pl-0 pr-0">
                        <div class="progress-bar bg-success" th:style="*{'width:' + agility +'%'}"></div>
                    </div>
                    <div class="col-md-2 text-center" th:text="*{agility + '/' + breed.agility}"></div>
                </div>
                <div class="row mb-1">Hunting stats</div>
                <div class="row mb-2">
                    <div class="col-md-10 progress align-self-center pl-0 pr-0">
                        <div class="progress-bar bg-danger" th:style="*{'width:' + hunting +'%'}"></div>
                    </div>
                    <div class="col-md-2 text-center" th:text="*{hunting + '/' + breed.hunting}"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>