<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>


<body>
<header>
    <div th:replace="~{fragments/commons :: navbar}">
        Navbar
    </div>
    <div class="container">
        <div class="main-div mb-2 justify-content-center">
            <h4>Dog Park is a game where you can breed, sell and race your dogs.</h4>
            <hr class="hr-2 bg-judge">
            <h4 class="text-judge text-center">The top three dogs in the game: </h4>
            <hr class="hr-2 bg-judge">
            <div class="row d-flex justify-content-center" th:each="dog : ${bestDogs}">
                <div class="col-1 align-self-center text-right" th:text="${bestDogs.indexOf(dog) + 1 + '.'}"></div>
                <div class="col-5 align-self-center" th:text="${dog.getName()}">Name</div>
                <div class="col-1 text-right align-self-center" th:text="${dog.getCups()}">Cups</div>
                <div class="col-1"><img th:src="@{../images/icons8-trophy-48.png}" alt="trophy"></div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="button-holder col-md-2 text-center">
                    <a th:href="@{/users/register}">
                        <button type="submit" class="btn btn-info btn-lg" value="register">Join</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
