<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>


<body>
<header>
    <div th:replace="~{fragments/commons :: navbar}">
        Navbar
    </div>

    <div class="container" th:object="${shelter}">
        <h2 class="text-center text-white" th:text="*{name}">Shelter info page</h2>
        <img class="mx-auto d-block rounded main-img" src="../images/OIP.jpg">
        <div class="main-div mb-2">
            <div class="row mt-5">
                <div class="col-9 pr-0">Your money at the moment</div>
                <div class="col-2 pl-0 pr-0 text-right" th:text="*{money}"></div>
                <div class="col-1 pl-0 text-right">$</div>
            </div>
            <div class="row">
                <div class="col-9 pr-0">Number of dogs owned</div>
                <div class="col-2 pl-0 pr-0 text-right" th:text="*{dogCount}"></div>
                <div class="col-1 pl-0 text-right">br</div>
            </div>
            <div class="row">
                <div class="col-9 pr-0">Number of cups</div>
                <div class="col-2 pl-0 pr-0 text-right" th:text="*{cupCount}"></div>
                <div class="col-1 pl-0 text-right">br</div>
            </div>
            <div class="row">
                <div class="col-9 pr-0">Total amount of your stud offers</div>
                <div class="col-2 pl-0 pr-0 text-right" th:text="*{studSum}"></div>
                <div class="col-1 pl-0 text-right">$</div>
            </div>
            <hr class="hr-2 bg-judge">
            <h4 class="text-judge text-center">Sale offers</h4>
            <hr class="hr-2 bg-judge">
            <table class="table table-hover text-judge">
                <thead>
                <tr class="row">
                    <th class="col-md-5" scope="col"><h5 class="text-center">Dog name</h5></th>
                    <th class="col-md-3" scope="col"><h5 class="text-center">Price</h5></th>
                    <th class="col-md-2" scope="col"><h5 class="text-center">Actions</h5></th>
                    <th class="col-md-2" scope="col"><h5 class="text-center">Dog info</h5></th>
                </tr>
                </thead>
                <tbody>
                <tr class="row" th:each="sale : *{saleOffers}">

                    <td class="col-md-5"><h5 class="text-right" th:text="${sale.getDog().getName()}">Name</h5></td>
                    <td class="col-md-3"><h5 class="text-right" th:text="${sale.getPrice() + '$'}">100 $</h5></td>
                    <td class="col-md-2 d-flex justify-content-around">
                        <form
                                th:method="POST"
                                th:action="@{/}">
                            <button type="submit" class="btn btn-info btn-sm" value="delete">
                                Delete
                            </button>
                        </form>
                    </td>
                    <td class="col-md-2 d-flex justify-content-around">
                        <!-- Button to Open the Modal -->
                        <button type="button" id="myBtn" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                            Info
                        </button>
                        <!-- The modal body -->
                        <div th:replace="~{fragments/dog-info::dog_info(dog=${sale.getDog()})}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr class="hr-2 bg-judge">
            <hr class="hr-2 bg-judge">
            <h4 class="text-judge text-center">Stud offers</h4>
            <hr class="hr-2 bg-judge">
            <table class="table table-hover text-judge">
                <thead>
                <tr class="row">
                    <th class="col-md-7" scope="col"><h5 class="text-center" >Dog name</h5></th>
                    <th class="col-md-5" scope="col"><h5 class="text-center" >Price</h5></th>
                </tr>
                </thead>
                <tbody>
                <tr class="row"  th:each="stud : *{studOffers}">
                    <td class="col-md-7">
                        <h5 class="text-right" th:text="${stud.getDog().getName()}">Name</h5>
                    </td>
                    <td class="col-md-5"><h5 class="text-right" th:text="${stud.getPrice() + '$'}">100 $</h5></td>
                </tr>
                </tbody>
            </table>
            <hr class="hr-2 bg-judge">
        </div>
    </div>
    </div>
</header>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script th:src="@{../js/popup.js}"></script>
</body>
</html>